html
{

  font-size: 10px;
  font-family: "Rubik", sans-serif;
  background-color: #83613D;
}

h1 {

  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #492214;
  text-shadow: 3px 3px 1px black;

}

p, li {

  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;

}

body {
  width: 645px;
  margin: 0 auto;
  background-color: #B6A16C;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  height: 50px;
  width: 75px;
  background-color: #83613D;
  color: #B6A16C;
  border: 3px solid black;
  margin-left:42.5em;
}